body {
    background-color: black !important;
    
}

::-webkit-scrollbar { 
    display: none; 
}

@media (min-width: 1200px) {
  .container {
    max-width: 1920px !important;
  }
}
.player {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    /* padding-top: 25px; */
    height: 0;
}
.player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#players, #previewProgram {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;    
}

.col-lg-6, .col-lg-3 {
    padding-right: 5px !important;
    padding-left: 5px !important;
    padding-top: 5px !important;
    padding-bottom: 0px !important;
}

.player h2 { 
    position: absolute; 
    bottom: 32px; 
    text-align: center;
    width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 14px/30px Helvetica, Sans-Serif; 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
   border-radius: 5px;
}

.container {
    padding-top: 5px;
}

.hidden {
    display: none !important;
}

.streamInfo {
    z-index: 5;
    position: absolute; 
    top: 12px;
    left: 12px; 
    text-align: center;
    color: white !important; 
}

.logsInfo {
    z-index: 4;
    position: absolute; 
    top: 12px;
    right: 12px; 
    text-align: center;
    color: white !important; 
}

.popover{
    max-width: none !important;
}

.paddingTopAndBottom {
    margin-bottom: 6px;
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}